In [82]:
# Dependencies
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pymongo
import pandas as pd

In [2]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb+srv://admin:admin@cluster0.5lstl.mongodb.net/myFirstDatabase?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn)

In [3]:
# URL of page to be scraped
url = 'https://redplanetscience.com/'

# initiating the webdriver. Parameter includes the path of the webdriver.
driver = webdriver.Chrome('chromedriver.exe') 
driver.get(url)

In [4]:
time.sleep(5)

In [5]:
html = driver.page_source

In [6]:
soup = BeautifulSoup(html, "html.parser")

In [29]:
articles=soup.find('div',class_="list_text")

In [37]:
newest_blurb=articles.find('div',class_='article_teaser_body').text

In [38]:
newest_date=articles.find('div',class_='list_date').text

In [39]:
newest_title=articles.find('div',class_='content_title').text

In [42]:
newest_title

'NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network'

In [41]:
newest_blurb

'Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.'

In [73]:
#Space Featured Image
space_image_url='https://spaceimages-mars.com/'
driver.get(space_image_url)

In [74]:
image_html = driver.page_source

In [75]:
image_soup = BeautifulSoup(image_html, "html.parser")

In [76]:
featured_image=image_soup.find('img',class_="headerimage fade-in").get('src')

In [77]:
featured_image

'image/featured/mars2.jpg'

In [81]:
featured_image_url=f'{space_image_url}{featured_image}'
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [84]:
#Pandas Scrape
mars_url='https://galaxyfacts-mars.com/'

In [96]:
mars_facts_scrape=pd.read_html(mars_url)
mars_facts_scrape

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [115]:
mars_df=pd.DataFrame(mars_facts_scrape[1])
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [127]:
mdf=df.rename(columns={0:"Stats",
                     1:"Mars"})

In [128]:
df

                  Stats                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers