In [82]:
# Dependencies
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pymongo
import pandas as pd

In [2]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb+srv://admin:admin@cluster0.5lstl.mongodb.net/myFirstDatabase?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn)

In [136]:
# URL of page to be scraped
url = 'https://redplanetscience.com/'

# initiating the webdriver. Parameter includes the path of the webdriver.
driver = webdriver.Chrome('chromedriver.exe') 
driver.get(url)

In [4]:
time.sleep(5)

In [5]:
html = driver.page_source

In [6]:
soup = BeautifulSoup(html, "html.parser")

In [29]:
articles=soup.find('div',class_="list_text")

In [37]:
newest_blurb=articles.find('div',class_='article_teaser_body').text

In [38]:
newest_date=articles.find('div',class_='list_date').text

In [39]:
newest_title=articles.find('div',class_='content_title').text

In [42]:
newest_title

'NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network'

In [41]:
newest_blurb

'Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.'

In [73]:
#Space Featured Image
space_image_url='https://spaceimages-mars.com/'
driver.get(space_image_url)

In [74]:
image_html = driver.page_source

In [75]:
image_soup = BeautifulSoup(image_html, "html.parser")

In [76]:
featured_image=image_soup.find('img',class_="headerimage fade-in").get('src')

In [77]:
featured_image

'image/featured/mars2.jpg'

In [81]:
featured_image_url=f'{space_image_url}{featured_image}'
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [84]:
#Pandas Scrape
mars_url='https://galaxyfacts-mars.com/'

In [96]:
mars_facts_scrape=pd.read_html(mars_url)
mars_facts_scrape

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [129]:
mars_df=pd.DataFrame(mars_facts_scrape[1])
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [130]:
mars_df=mars_df.rename(columns={0:"Stats",
                     1:"Mars"})
mars_df

                  Stats                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [131]:
#Convert to html table string
mars_html_table = mars_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Stats</th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [132]:
mars_html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Stats</th>      <th>Mars</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 ( Phobos &amp; Deimos )</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [133]:
mars_df.to_html('mars_table.html')

In [204]:
#Hemisphere Images
link_text_list=['Cerberus','Schiaparelli','Syrtis','Valles']
mars_image_url='https://marshemispheres.com'
driver.get(mars_image_url)

In [191]:
driver.find_element_by_partial_link_text("Cerberus").click()

In [192]:
currenturl=driver.current_url
driver.get(currenturl)

In [193]:
hemi_image_html = driver.page_source

In [194]:
hemi_image_soup = BeautifulSoup(hemi_image_html, "html.parser")

In [199]:
hemi_image=hemi_image_soup.find('img',class_="wide-image").get('src')
hemi_image_url=f'{mars_image_url}{hemi_image}'
hemi_image_url
#driver.find_element_by_partial_link_text("Back").click()

'https://marshemispheres.comimages/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [202]:
hemi_title=hemi_image_soup.find('h2',class_="title").text
hemi_title

'Cerberus Hemisphere Enhanced'

In [205]:
test_list=[]

for link in link_text_list:
    driver.get(mars_image_url)
    driver.find_element_by_partial_link_text(link).click()
    currenturl=driver.current_url
    driver.get(currenturl)
    hemi_image_html = driver.page_source
    hemi_image_soup = BeautifulSoup(hemi_image_html, "html.parser")
    hemi_image=hemi_image_soup.find('img',class_="wide-image").get('src')
    hemi_image_url=f'{mars_image_url}{hemi_image}'
    hemi_title=hemi_image_soup.find('h2',class_="title").text
    dict={"title":hemi_title,"img_url":hemi_image_url}
    test_list.append(dict)
    print(f'{hemi_title} {hemi_image_url}')

Cerberus Hemisphere Enhanced https://marshemispheres.comimages/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
Schiaparelli Hemisphere Enhanced https://marshemispheres.comimages/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
Syrtis Major Hemisphere Enhanced https://marshemispheres.comimages/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg
Valles Marineris Hemisphere Enhanced https://marshemispheres.comimages/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg